.js-fadeup {
  opacity: 0;
  translate: 0 15px;
}

.js-fadeup.is-inview {
  opacity: 1;
  translate: 0;
  scale: 1;
  transition:
    opacity 0.3s ease 0.3s,
    translate 0.45s cubic-bezier(0.03, 0.41, 0.33, 2.23) 0.3s;
}
